  <div class="jumbotron p-3 p-md-5 rounded bg-brown">
    <div class="main">
      <div class="col-md-2">
        <%= gravatar_for @user %>
      </div>
      <div class="col-md-4">
        <h3><%= @user.name %></h3>
        <p class="lead"><%= @user.email %></p>
      </div>
    </div>
  </div>
    <div class="row">
  <% @books.each do |book| %>
      <div class="col-md-4">
        <div>
          <div class="card mb-3 shadow-sm">
            <%= image_tag book.image_url %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
