<% provide(:title, 'Books') %>
<% @user = User.find_by(id: params[:user_id]) %>
<% if current_user == @user %>
  <%= link_to '本を追加する', '/search', class:"btn btn-primary my-2" %>
  <hr/>
<% end %>
<div class="row scroll">
  <% @books.each do |book| %>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <%= link_to book_path(book) do %>
          <%= image_tag book.image_url, width: '100%' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<%= paginate @books %>