<div class="small-scroll">
  <% @comments.each do |c| %>
    <div>
      <%= gravatar_for c.user %>
      <a href="/users/<%= @post.user.id %>"><%= c.user.name %></a>
      <%= c.comment_content %>
      <hr>
    </div>
  <% end %>
</div>