<h4>コメント一覧</h4>
<hr/>
<% @comments.each do |c| %>
  <div>
    <%= gravatar_for c.user %>
    <a href="/users/<%= @post.user.id %>"><%= c.user.name %></a>
    <%= c.comment_content %>
    <hr>
  </div>
<% end %>