  <span id="post_<%= @post.id %>">
    <%= @post.likes.count %>
    <% if current_user.already_liked?(@post) %>
      <%= link_to destroy_like_path(@post), class: "like-link", method: :DELETE, remote: true do %>
        <i class="fa fa-heart unlike-btn"></i>
      <% end %>
    <% else %>
      <%= link_to create_like_path(@post), class: "like-link", method: :POST, remote: true do %>
        <i class="far fa-heart like-btn"></i>
      <% end %>
    <% end %>
  </span>