.form-control {
  margin-bottom:10px;
}

header{
  position:fixed;
  width:100%;
  z-index:2;
}

.surplus{
  height:70px;
}


.main-info{
  display:flex;
}

.card-text{
  font-size:8px;
  line-height:1.2;
}

.review-book{
  margin:0 auto;
  display:flex;
  text-align:center;
}

.review-content{
  min-width:600px;
  text-align:left;
  .btn{
    float:right;
    margin-right:5px;
  }
}

.top-center{
  text-align:center;
}

.post-content{
  margin:0 50px;
}

// likes.scss

.like-link {
  text-decoration: none;
}

.like-link:hover {
  text-decoration: none;
}

.like-btn {
  font-size: 15px;
  color: #808080;
}
 
.unlike-btn {
  font-size: 15px;
  color: #e54747;
}

.created_at{
  float: right;
}

.post-trash{
  float: right;
  margin-right: 5px;
}

.post-text{
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.post-content{
  height:80px;
  margin-left: 0;
}

.rank{
  display: flex;
  h3{
    line-height: 150px;
  }
  .rank-image{
    margin: 0 20px;
  }
  .rank-info h4{
    padding:20px 0;
  }
}

.scroll{
  height: 500px;
  overflow: auto;
}

.minimum-scroll{
  height: 360px;
  overflow: auto;
}

.small-scroll{
  height: 150px;
  overflow: auto;
}